#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    box-sizing: border-box;
    color: black;
}

.container {
    /* border: 2px solid red; */
    padding: 60px;
    background-color: white;
    border-radius: 25px;
}

p{
    font-size: 25px;
    text-align: start;
}

.lebel{
    font-size: 25px;
    text-align: start;
}

input{
    background-color: white;
    border: 2px solid #1a1a1a;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    color: black;
    font-size: 15px;
}

.buttons-div{
    margin-top: 30px;
    padding: 15px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  /* line-height: 1.1; */
  margin-top: 0px;
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 2.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #6404c9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #d6ff64;
}